table, th, td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    border-radius: 0px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
    padding: 10px;  
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
    th{
border-style: none !important;
background-color: gray;
color: white;
    }
    iframe{
        display: block; margin: auto;  
    }
    .div{
        min-height: 30vh;   
        min-width: 100vh;
        margin-left: 80px;
        max-height: 100vh;
       }
       div{
           background-color: rgba(218, 218, 218, 0.5);
       }